.form-header {
  align-content: center;
  position: relative;
  margin: 0 40px;
}

.form-full {
  border: solid 1px rgb(169, 169, 169);
  border-radius: 10px;
  width: 40%;
  margin: auto;
  padding-bottom: 30px;
}

.form-body {
  position: relative;
  margin: 0 40px;
  display: block;
}

.form-input-textfield {
  position: relative;
  display: block;
  width: 100%;
  /* margin-bottom: 10px !important; */
  margin: 10px auto !important;
}

.form-footer {
  padding-top: 10px;
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 40px;
  height: 50px;
}

#form-footer-button {
  position: absolute;
  right: 0px !important;
  bottom: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}
